<form name="route"  onsubmit="return MQA.withModule" method="post">

Start Location: <input type="text" id='startLocation' name="startLocation"><br>
End Location: <input type="text" id='endLocation' name="endLocation"><br>
Road Strategy Guide:
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="DEFAULT_STRATEGY" />
<label for="DEFAULT_STRATEGY">Default</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="AVOID_UP_HILL" />
<label for="AVOID_UP_HILL">Avoid up hills</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="AVOID_DOWN_HILL" />
<label for="AVOID_DOWN_HILL">Avoid down hills</label><br>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="AVOID_ALL_HILLS" />
<label for="AVOID_ALL_HILLS">Avoid all hills</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="FAVOR_UP_HILL" />
<label for="age_adult">Favor up hills</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="FAVOR_DOWN_HILL" />
<label for="age_adult">Favor down hills</label>
<input id="roadGradeStrategy" name="roadGradeStrategy" type="radio" value="FAVOR_DOWN_HILL" />
<label for="age_adult">Favor all hills</label>
<br>
<input type="submit" value="Submit">
</form>
 <div id='map' style='width:750px; height:280px;'></div>
 <div id="narrative" style="width:800px;"></div>
 