body {
	background: url(http://farm9.staticflickr.com/8520/8460093378_1b069ab840_o.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

.container
{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	border: double 5px white;
}

label {
	color: white;
}
#results_list {
	color: white;
	font-family: 'Lustria', serif;
	font-size: 15px;

}

li {
	color: black;
	font-family: 'Lustria', serif;
}

.info {
	color: black;
	background: #FFFFF7;
	-moz-box-shadow: 0 0 20px black; 
	-webkit-box-shadow: 0 0 20px black; 
	box-shadow: 0 0 20px black; 
	border-radius: 5px;
}

#front {
	width: 100%;
	text-align: center;
	color: white;
	margin-top: 100px;
	font-family:'Vast Shadow', cursive;

}

.first_header {
	font-family:'Vast Shadow', cursive;
	font-size: 50px;
	text-align: center;
	color: white;
}

#results {
	text-align: center;
	color: white;
}

#search {
	position: fixed;
	top: 10px;
	right: 5px;
	font-size: 20px;
	border: dotted 2px white;
	color: white;
	margin-bottom: 15 px;
}

.last_page {
	text-align: center;
	color: white;
	margin-top: 45px;
	margin-bottom: 35px;

}

.poster_div {
	margin-bottom: 15px;
	margin-left: 5px;
	margin-right: 5px;
}

.poster {
	border: 4px;
	border-color: black;
	border-style:ridge;
	border-radius: 15px;
}

.button {
	border-radius: 10px;
}

