<div>
	<!-- accessing the individual attributes of the plane we passed -->
	Name: <%= @plane.name %><br>
	Engine-Type: <%= @plane.engine_type %><br>
	Description: <%= @plane.description %><br><br>
</div>