<div id="home">
<h1 class='headers'>Lets make that URL tiny!</h1>
<%= render partial: "form_new"%>
<br>
<h1 class='headers'>See what that tiny URL  really is!</h1>
<%= render partial: "form_show" %>
</div>