<div>     

    <p>
    	<% site(@url) %>
    	<% #binding.pry %>

    <a href= "<%=@url.link %> "><%=@url.random_string %></a>

    </p>
    <p>Don't like that short URL? Change it below!</p>
    	<%= flash[:warning] %>
    <%= render partial: "form_edit" %>

 </div>