<div>     

    <p>
    	<% uri = URI.parse(@url.link) %>
    	<% if(!uri.scheme) %>
    		<% @url.link = "http://#{@url.link}" %>
    	<% #url = url.slice! "http://localhost:3000/" %>
    	<% #binding.pry %>
      <a href= "<%=@url.link %> "><%=@url.link %></a>
       <%= @url.count %>
    </p>


 </div>

 <% end %>

