<div id="small">     

    <h1 class='headers'>Here is the full link:</h1>
    	<% site(@url) %>
      <a href= "<%=@url.link %> "><%=@url.link %></a><br>
      <h2 class='headers'>Count: </h2><p><%= @url.count %></p>
    
 </div>


