<div id="front">
<h1 class='first_header'>Find a Movie!</h1>

  <form accept-charset="UTF-8" action="/result" method="post">
    <label for="movie">Search for:</label>
    <input class='button' id="movie" name="movie" type="text" />
    <input class='button' name="commit" type="submit" value="Search" /> 
  </form>
  
 </div>