<div class='text'>
	<!-- accessing the individual attributes of the creature we passed -->
	Name: <%= @creature.name %><br>
	Description: <%= @creature.description %><br><br>


<a href="/">Back to main page</a>

</div>