<h1>Welcome To The Store</h1>

<%= button_to "Categories", categories_path, method: 'get', class: "btn btn-primary"  %><br>
<%= button_to "Products", products_path, method: 'get', class: "btn btn-primary" %>

