<div class="row">
    <aside class="span4">
        <ul>
        	<li>Name: <%= @user.name%></li>
        	<li>Email: <%= @user.email %></li>
        	<li>Password: <%= @user.password %></li>
        </ul>
    </aside>
</div>